
<html>
    <head>
        {% block head %}{% endblock %}
        <title>{% block title %}UPEM - PL 2017/2018{% endblock %}</title>
        
        <!-- Load the tag library -->
        {% load bootstrap3 %}
        {% load static %}
        {% block tag %}{% endblock %}
        
        <!-- Load CSS and JavaScript for Bootstrap-->
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        
        <!-- Loading CSS and JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% block header_script %}{% endblock %}
        {% block css %}{% endblock %}
        <link rel="stylesheet" href="{% static 'playexo/css/exo_info.css' %}" />
        <link rel="stylesheet" href="{% static 'playexo/css/pywims_exos.css' %}">
        
    </head>
    
    <body>
        {% block topbar %}{% include "playexo/top_bar.html" %}{% endblock %}
        {% block alert %}{% include "playexo/alert.html" %}{% endblock %}
        {% block content %}{% endblock %}
        {% block end_script %}{% endblock %}
    </body>
</html>

